body {
    margin: 0;
    padding: 2em;
    background-image: url("https://media.istockphoto.com/photos/monochrome-texture-with-white-and-gray-color-picture-id1138782666?k=6&m=1138782666&s=612x612&w=0&h=yxW7wRHOVZ5eA3aCnfNq3c5vorKgo2zmNuoIK0DFiao=");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:black;
    
}

.login {
    display: flex;
    flex-direction: column;
}

.input {
    padding: .5em;
    margin-bottom: 2em;
}

.login button {
    padding: .5em;
    margin-top: 4em;
    color: white;
    background-color: black;
}